<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:1000px;">

    <div class="my-3 border-bottom">
        <h4>구매하기</h4>
    </div>

    <div style="margin-top:50px;">
        <h5>상품정보</h5>
        <table th:if="${product != null}" class="table table-sm">
            <tbody>
            <tr style="">
                <td>
                    <div style="display:flex; justify-content:space-between;">
                        <img th:src="${product.representImg.FilePath}" alt="상품이미지" style="width:200px; height:200px;">
                    </div>
                </td>
                <td>
                    <div>
                        <div>상품 :
                            <a th:href="@{|/product/detail/${product.id}|}" th:text="${product.name}"></a>
                        </div>
                        <div th:if="${product.discount == '0'}">
                            <span th:text="|가격 : ${product.price}원|"></span>
                        </div>
                        <div th:if="${product.discount != '0'}">가격 :
                            <del th:text="|${product.price}원|"></del>
                            <span th:text="${#numbers.formatInteger(product.DCPrice, 3, 'COMMA') + '원'}"
                                  style="color:red; font-weight:bold;"></span>
                        </div>
                    </div>
                </td>
                <td>
                    <div th:each="option : ${product.ordersList}" th:if="${@request.getSiteUser() == option.user}">선택옵션
                        <div th:text="|옵션 : ${option.option}|"></div>
                        <div th:text="|수량 : ${option.amount}|"></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table th:if="${productList != null}" class="table table-sm">
            <tbody>
            <tr th:each="product : ${productList}">
                <td>
                    <div style="display:flex; justify-content:space-between;">
                        <img th:src="${product.representImg.FilePath}" alt="상품이미지"
                             style="width:200px; height:200px; object-fit:cover;">
                    </div>
                </td>
                <td>
                    <div>
                        <div>상품 :
                            <a th:href="@{|/product/detail/${product.id}|}" th:text="${product.name}"></a>
                        </div>
                        <div th:if="${product.discount == '0'}">
                            <span th:text="|가격 : ${product.price}원|"></span>
                        </div>
                        <div th:if="${product.discount != '0'}">가격 :
                            <del th:text="|${product.price}원|"></del>
                            <span th:text="${#numbers.formatInteger(product.DCPrice, 3, 'COMMA') + '원'}"
                                  style="color:red; font-weight:bold;"></span>
                        </div>
                    </div>
                </td>
                <td>
                    <div th:each="option : ${product.ordersList}" th:if="${@request.getSiteUser() == option.user}">선택옵션
                        <div th:text="|옵션 : ${option.option}|"></div>
                        <div th:text="|수량 : ${option.amount}|"></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-top:50px;">
        <h5>구매자정보</h5>
        <table class="table table-sm">
            <tbody>
            <tr style="">
                <th scope="row" style="width:200px;">이름</th>
                <td th:text="${user.nickname}" style=""></td>
            </tr>
            <tr style="">
                <th scope="row" style="width:200px;">주소</th>
                <td th:text="${user.address}" style=""></td>
            </tr>
            <tr style="">
                <th scope="row" style="width:200px;">연락처</th>
                <td th:text="${user.phoneNumber}" style=""></td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- 상품 하나만 구매 시 입력 폼 시작 -->
    <form th:if="${product != null}"
          th:action="@{|/orderdetail/${product.id}|}" method="post" th:object="${orderDetailCreateForm}">
        <div style="margin-top:50px;">
            <h5>받는사람정보</h5>
            <table class="table table-sm">
                <tbody>
                <tr style="">
                    <th scope="row" style="width:200px;">이름</th>
                    <td style="">
                        <input type="text" name="name" th:field="*{name}" style="width:100%;">
                        <p th:each="err : ${#fields.errors('name')}" th:text="${err}" class="error"
                           style="color:red; font-size:14px;"></p>
                    </td>
                </tr>
                <tr style="">
                    <th scope="row" style="width:200px;">주소</th>
                    <td style="">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon7">
                            <i class="fa-solid fa-map-location-dot" style="color: #000000;"></i>
                        </span>
                            <input type="text" class="form-control" id="sample4_postcode" placeholder="우편번호"
                                   name="postnum" th:field="*{postnum}">
                            <input type="button" class="btn btn-success btn-sm" onclick="sample4_execDaumPostcode()"
                                   value="주소 찾기"><br>
                        </div>
                        <p th:each="err : ${#fields.errors('postnum')}" th:text="${err}" class="error"
                           style="color:red; font-size:14px;"></p>
                        <div class="input-group mb-3" style="display:flex;">
                        <span class="input-group-text" id="basic-addon8">
                            <i class="fa-solid fa-map-location-dot" style="color: #000000;"></i>
                        </span>
                            <input type="text" class="form-control" id="sample4_roadAddress" name="roadname"
                                   placeholder="도로명주소" th:field="*{roadname}">
                            <input type="text" class="form-control" id="sample4_jibunAddress" name="groundname"
                                   placeholder="지번주소" th:field="*{groundname}">
                        </div>
                        <p th:each="err : ${#fields.errors('roadname')}" th:text="${err}" class="error"
                           style="color:red; font-size:14px;"></p>
                        <p th:each="err : ${#fields.errors('groundname')}" th:text="${err}" class="error"
                           style="color:red; font-size:14px;"></p>
                        <div class="input-group mb-3" style="display:flex;">
                        <span class="input-group-text" id="basic-addon9">
                            <i class="fa-solid fa-map-location-dot" style="color: #000000;"></i>
                        </span>
                            <input type="text" class="form-control" id="sample4_detailAddress" name="detailaddress"
                                   placeholder="상세주소" th:field="*{detailaddress}">
                            <span id="guide" style="color:#999;display:none"></span>
                            <input type="text" class="form-control" id="sample4_extraAddress" name="etc"
                                   placeholder="참고항목">
                        </div>
                        <p th:each="err : ${#fields.errors('detailaddress')}" th:text="${err}" class="error"
                           style="color:red; font-size:14px;"></p>

                    </td>
                </tr>
                <tr style="">
                    <th scope="row" style="width:200px;">연락처</th>
                    <td style="">
                        <input type="text" name="phoneNumber" th:field="*{phoneNumber}" style="width:100%;">
                        <p th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}" class="error"
                           style="color:red; font-size:14px;"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div style="margin-top:50px;">
            <h5>결제정보</h5>
            <table class="table table-sm">
                <tbody>
                <tr style="">
                    <th scope="row" style="width:200px;">총상품가격</th>
                    <td th:text="${#numbers.formatInteger(totalPrice, 3, 'COMMA') + '원'}"></td>
                </tr>
                <tr style="">
                    <th scope="row" style="width:200px;">적립예정 포인트</th>
                    <td th:text="|${product.price}원|"></td>
                </tr>
                <tr style="">
                    <th scope="row" style="width:200px;">총결제금액</th>
                    <td th:text="${#numbers.formatInteger(totalPrice, 3, 'COMMA') + '원'}"
                        style="color:red; font-weight:bold;"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="margin-top:100px; display:flex; justify-content:flex-end;">
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                결제하기
            </button>
            <a class="btn btn-danger btn-sm" th:href="@{|/product/detail/${product.id}|}"
               style="margin-left:10px;">주문취소</a>
        </div>
    </form>
    <!-- 입력 폼 끝 -->

    <!-- 상품 여러개 구매 시 입력 폼 시작 -->
    <form th:if="${productList != null}"
          th:action="@{/orderdetail/buy}" method="post" th:object="${orderDetailCreateForm}">
        <div th:each="product : ${productList}">
            <input type="hidden" name="productId" th:value="${product.id}" checked>
        </div>
        <div style="margin-top:50px;">
            <h5>받는사람정보</h5>
            <table class="table table-sm">
                <tbody>
                <tr style="">
                    <th scope="row" style="width:200px;">이름</th>
                    <td style="">
                        <input type="text" name="name" th:field="*{name}" style="width:100%;">
                        <p th:each="err : ${#fields.errors('name')}" th:text="${err}" class="error"
                           style="color:red; font-size:14px;"></p>
                    </td>
                </tr>
                <tr style="">
                    <th scope="row" style="width:200px;">주소</th>
                    <td style="">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon7">
                            <i class="fa-solid fa-map-location-dot" style="color: #000000;"></i>
                        </span>
                            <input type="text" class="form-control" id="sample4_postcode" placeholder="우편번호"
                                   name="postnum" th:field="*{postnum}">
                            <input type="button" class="btn btn-success btn-sm" onclick="sample4_execDaumPostcode()"
                                   value="주소 찾기"><br>
                        </div>
                        <p th:each="err : ${#fields.errors('postnum')}" th:text="${err}" class="error"
                           style="color:red; font-size:14px;"></p>
                        <div class="input-group mb-3" style="display:flex;">
                        <span class="input-group-text" id="basic-addon8">
                            <i class="fa-solid fa-map-location-dot" style="color: #000000;"></i>
                        </span>
                            <input type="text" class="form-control" id="sample4_roadAddress" name="roadname"
                                   placeholder="도로명주소" th:field="*{roadname}">
                            <input type="text" class="form-control" id="sample4_jibunAddress" name="groundname"
                                   placeholder="지번주소" th:field="*{groundname}">
                        </div>
                        <p th:each="err : ${#fields.errors('roadname')}" th:text="${err}" class="error"
                           style="color:red; font-size:14px;"></p>
                        <p th:each="err : ${#fields.errors('groundname')}" th:text="${err}" class="error"
                           style="color:red; font-size:14px;"></p>
                        <div class="input-group mb-3" style="display:flex;">
                        <span class="input-group-text" id="basic-addon9">
                            <i class="fa-solid fa-map-location-dot" style="color: #000000;"></i>
                        </span>
                            <input type="text" class="form-control" id="sample4_detailAddress" name="detailaddress"
                                   placeholder="상세주소" th:field="*{detailaddress}">
                            <span id="guide" style="color:#999;display:none"></span>
                            <input type="text" class="form-control" id="sample4_extraAddress" name="etc"
                                   placeholder="참고항목">
                        </div>
                        <p th:each="err : ${#fields.errors('detailaddress')}" th:text="${err}" class="error"
                           style="color:red; font-size:14px;"></p>

                    </td>
                </tr>
                <tr style="">
                    <th scope="row" style="width:200px;">연락처</th>
                    <td style="">
                        <input type="text" name="phoneNumber" th:field="*{phoneNumber}" style="width:100%;">
                        <p th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}" class="error"
                           style="color:red; font-size:14px;"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div style="margin-top:50px;">
            <h5>결제정보</h5>
            <table class="table table-sm">
                <tbody>
                <tr style="">
                    <th scope="row" style="width:200px;">총상품가격</th>
                    <td th:text="${#numbers.formatInteger(totalPrice, 3, 'COMMA') + '원'}"></td>
                </tr>
                <tr style="">
                    <th scope="row" style="width:200px;">적립예정 포인트</th>
                    <td>-</td>
                </tr>
                <tr style="">
                    <th scope="row" style="width:200px;">총결제금액</th>
                    <td th:text="${#numbers.formatInteger(totalPrice, 3, 'COMMA') + '원'}"
                        style="color:red; font-weight:bold;"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="margin-top:100px; display:flex; justify-content:flex-end;">
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                결제하기
            </button>
            <a class="btn btn-danger btn-sm" th:href="@{|/product/detail/${product.id}|}"
               style="margin-left:10px;">주문취소</a>
        </div>
    </form>
    <!-- 입력 폼 끝 -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="display:flex; justify-content:center; width:800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">상품 결제</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="wrapper">
                        <div
                                class="box_section"
                                style="
          padding: 40px 30px 50px 30px;
          margin-top: 30px;
          margin-bottom: 50px;
        "
                        >
                            <!-- 결제 UI -->
                            <div id="payment-method"></div>
                            <!-- 이용약관 UI -->
                            <div id="agreement"></div>
                            <!-- 쿠폰 체크박스 -->
                            <div style="padding-left: 25px">
                                <div class="checkable typography--p">
                                    <label for="coupon-box" class="checkable__label typography--regular"
                                    ><input
                                            id="coupon-box"
                                            class="checkable__input"
                                            type="checkbox"
                                            aria-checked="true"
                                    /><span class="checkable__label-text"
                                    >5,000원 쿠폰 적용</span
                                    ></label
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>총결제금액</div>
                    <span th:text="${#numbers.formatInteger(totalPrice, 3, 'COMMA') + '원'}"
                          style="color:red; font-weight:bold;"></span>
                    <!-- 결제하기 버튼 -->
                    <div class="result wrapper">
                        <button class="btn btn-primary btn-sm button" id="payment-button" style="margin-right:10px;">
                            결제하기
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript">
    <!--   다음 주소 api     -->
        //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
        function sample4_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                       extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraRoadAddr !== ''){
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample4_postcode').value = data.zonecode;
                    document.getElementById("sample4_roadAddress").value = roadAddr;
                    document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                    // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                    if(roadAddr !== ''){
                        document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                    } else {
                        document.getElementById("sample4_extraAddress").value = '';
                    }

                    var guideTextBox = document.getElementById("guide");
                    // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                    if(data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';

                    } else if(data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }
            }).open();
        }



    <!-- 토스 페이먼츠 api -->
        const button = document.getElementById("payment-button");
        const coupon = document.getElementById("coupon-box");
        const generateRandomString = () =>
          window.btoa(Math.random()).slice(0, 20);
        const amount = [[${totalPrice}]];
        // ------  결제위젯 초기화 ------
        // TODO: clientKey는 개발자센터의 결제위젯 연동 키 > 클라이언트 키로 바꾸세요.
        // TODO: 구매자의 고유 아이디를 불러와서 customerKey로 설정하세요. 이메일・전화번호와 같이 유추가 가능한 값은 안전하지 않습니다.
        // @docs https://docs.tosspayments.com/reference/widget-sdk#sdk-설치-및-초기화
        // client key
        const widgetClientKey = "test_ck_vZnjEJeQVxy7PXDDl1mYrPmOoBN0";
        const customerKey = generateRandomString();
        const paymentWidget = PaymentWidget(widgetClientKey, customerKey); // 회원 결제
        // const paymentWidget = PaymentWidget(widgetClientKey, PaymentWidget.ANONYMOUS); // 비회원 결제

        // ------  결제 UI 렌더링 ------
        // @docs https://docs.tosspayments.com/reference/widget-sdk#renderpaymentmethods선택자-결제-금액-옵션
        paymentMethodWidget = paymentWidget.renderPaymentMethods(
          "#payment-method",
          { value: amount },
          // 렌더링하고 싶은 결제 UI의 variantKey
          // 결제 수단 및 스타일이 다른 멀티 UI를 직접 만들고 싶다면 계약이 필요해요.
          // @docs https://docs.tosspayments.com/guides/payment-widget/admin#멀티-결제-ui
          { variantKey: "DEFAULT" }
        );
        // ------  이용약관 UI 렌더링 ------
        // @docs https://docs.tosspayments.com/reference/widget-sdk#renderagreement선택자-옵션
        paymentWidget.renderAgreement("#agreement", { variantKey: "AGREEMENT" });

        // ------  결제 금액 업데이트 ------
        // @docs https://docs.tosspayments.com/reference/widget-sdk#updateamount결제-금액
        coupon.addEventListener("change", function () {
          if (coupon.checked) {
            paymentMethodWidget.updateAmount(amount - 5000);
          } else {
            paymentMethodWidget.updateAmount(amount);
          }
        });


        // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
        // @docs https://docs.tosspayments.com/reference/widget-sdk#requestpayment결제-정보
        button.addEventListener("click", function () {
          // 결제를 요청하기 전에 orderId, amount를 서버에 저장하세요.
          // 결제 과정에서 악의적으로 결제 금액이 바뀌는 것을 확인하는 용도입니다.
          paymentWidget.requestPayment({
            orderId: generateRandomString(),
            orderName: [[${totalPrice}]],
            successUrl: window.location.origin + "/success",
            failUrl: window.location.origin + "/fail",
            customerEmail: [[${user.email}]],
            customerName: [[${user.nickname}]],
            customerMobilePhone: [[${user.phoneNumber}]],
          });
        });
    </script>


</div>
</html>