<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:1200px;">

    <div class="my-3 border-bottom">
        <h4 th:text="${category.name}"></h4>
    </div>


    <div style="display:flex; justify-content:space-between; flex-flow:wrap;">
        <div th:each="product : ${productList}">
            <img th:src="${product.representImg.FilePath}" alt="대표이미지" style="width:300px; height:300px; object-fit:cover;">
            <div style="text-align:center; font-size:20px; font-weight:bold;">
                <a th:href="@{|/product/detail/${product.id}|}" th:text="${product.name}"></a>
            </div>
            <div style="text-align:center;">
                <tr th:if="${product.discount == '0'}">
                    <th scope="row" style="width:100px;">가격</th>
                    <td th:text="|${product.price}원|" style=""></td>
                </tr>
                <tr th:if="${product.discount != '0'}">
                    <th scope="row" style="width:100px;">할인</th>
                    <td>
                        <del th:text="|${product.price}원|"></del>
                        <span th:text="${#numbers.formatInteger(product.DCPrice, 3, 'COMMA') + '원'}" style="color:red; font-weight:bold;"></span>
                    </td>
                </tr>
            </div>
        </div>
    </div>





</div>
</html>