<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:600px;">

    <div class="my-3 border-bottom">
        <h4>상품 등록 > 옵션 생성 > 상세 옵션</h4>
    </div>

    <div>
        <div style="display:flex; justify-content:space-between;">
            <div style="color:gray; font-size:14px;">시작</div>
            <div style="color:gray; font-size:14px;">상품입력</div>
            <div style="color:gray; font-size:14px;">옵션생성</div>
            <div style="color:gray; font-size:14px;">상세옵션</div>
            <div style="font-weight:bold; font-size:14px;">완료</div>
        </div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100">
            <div class="progress-bar w-100"></div>
        </div>
    </div>


    <div class="my-3 border-bottom">
        <h5>상품정보</h5>
    </div>
    <div class="card">
        <img th:src="${product.representImg.FilePath}" class="card-img-top" alt="대표이미지">
        <div class="card-body">
            <h5 class="card-title" th:text="|상품명 : ${product.name}|"></h5>
            <p class="card-text" th:text="|상품설명 : ${product.content}|"></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="|카테고리 : ${product.category.name}|"></li>
        </ul>
        <ul class="list-group list-group-flush" th:each="optionList : ${product.optionList}">
            <li class="list-group-item" th:text="|옵션 : ${optionList.name}|"></li>
            <li class="list-group-item" th:each="optionDetail : ${optionList.optionDetailList}" th:text="|상세옵션 : ${optionDetail.detail}|"></li>
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="|가격 : ${product.price}|"></li>
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="|할인율 : ${product.discount}|"></li>
        </ul>
    </div>




    <div style="display:flex; justify-content:flex-end; margin-top:20px;">
        <a class="btn btn-danger btn-sm" th:href="@{|/product/remove/${product.id}|}">등록취소</a>
        <a th:href="@{/product/management}" class="btn btn-primary btn-sm"
           style="margin-left:10px;">등록완료</a>
    </div>


</div>
</html>