<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:600px;">

    <div class="my-3 border-bottom">
        <h4>상품 등록</h4>
    </div>

    <div style="margin-top:40px; margin-bottom:40px;">
        <div style="display:flex; justify-content:space-between;">
            <div style="color:gray; font-size:14px;">시작</div>
            <div style="font-weight:bold; font-size:14px;">상품입력</div>
            <div style="color:gray; font-size:14px;">옵션생성</div>
            <div style="color:gray; font-size:14px;">상세옵션</div>
            <div style="color:gray; font-size:14px;">완료</div>
        </div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0"
             aria-valuemax="100">
            <div class="progress-bar w-25"></div>
        </div>
    </div>


    <form th:action="@{/product/create}" method="post" th:object="${productCreateForm}" enctype="multipart/form-data">

        <div style="margin-top:10px;">
            <label for="category">카테고리</label>
            <select class="form-select" aria-label="Default select example" id="category" name="category">
                <option selected>상품 카테고리 선택</option>
                <option th:each="category : ${@request.getCategory}" th:text="${category.name}"
                        th:value="${category.name}"></option>
            </select>
        </div>
        <p th:each="err : ${#fields.errors('category')}" th:text="${err}" style="color:red; font-size:14px;"></p>


        <div style="margin-top:10px;">
            <label for="name">상품명</label>
            <input class="form-control" type="text" id="name" name="name" th:field="*{name}">
        </div>
        <p th:each="err : ${#fields.errors('name')}" th:text="${err}" style="color:red; font-size:14px;"></p>


        <div style="margin-top:10px;">
            <label for="content">상품설명</label>
            <textarea class="form-control" id="content" name="content" rows="10" th:field="*{content}"></textarea>
        </div>
        <p th:each="err : ${#fields.errors('content')}" th:text="${err}" style="color:red; font-size:14px;"></p>


        <div style="margin-top:10px;">
            <label for="representImg">대표이미지</label>
            <input class="form-control" type="file" name="representImg" id="representImg">
        </div>

        <div style="margin-top:10px;">
            <label for="detailImg">상품이미지</label>
            <input class="form-control" multiple="multiple" type="file" name="detailImg" id="detailImg">
        </div>

        <div style="margin-top:10px;">
            <label for="price">상품가격</label>
            <input class="form-control" type="text" onkeyup="inputNumberFormat(this);" name="price" id="price"
                   placeholder="상품 가격 숫자로 입력"
                   th:field="*{price}">
        </div>
        <p th:each="err : ${#fields.errors('price')}" th:text="${err}" style="color:red; font-size:14px;"></p>


        <div style="margin-top:10px;">
            <label for="discount">할인율</label>
            <input class="form-control" type="text" name="discount" id="discount" placeholder="0~100 숫자입력"
                   th:field="*{discount}">
        </div>
        <p th:each="err : ${#fields.errors('discount')}" th:text="${err}" style="color:red; font-size:14px;"></p>


        <div style="display:flex; justify-content:flex-end; margin-top:20px;">
            <a class="btn btn-secondary btn-sm" th:href="@{/product/management}">뒤로가기</a>
            <button type="submit" class="btn btn-primary btn-sm" style="margin-left:10px;">다음단계</button>
        </div>

    </form>

    <script>
        function comma(str) {
         str = String(str);
         return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }

    function uncomma(str) {
         str = String(str);
         return str.replace(/[^\d]+/g, '');
    }

    function inputNumberFormat(obj) {
         obj.value = comma(uncomma(obj.value));
    }

    function inputOnlyNumberFormat(obj) {
         obj.value = onlynumber(uncomma(obj.value));
    }

    function onlynumber(str) {
         str = String(str);
         return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g,'$1');
    }
    </script>


</div>
</html>