<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:600px;">

    <div class="my-3 border-bottom">
        <h4>상품 등록 > 옵션 생성 > 상세 옵션</h4>
    </div>


    <form action="">
        <div style="margin-top:10px;">
            <label for="optionDetail">옵션1</label>
            <input class="form-control" type="text" id="optionDetail" name="optionDetail">
        </div>
        <div style="display:flex; justify-content:flex-end; margin-top:20px;">
            <button type="submit" class="btn btn-secondary btn-sm" style="margin-left:10px;">상세옵션생성</button>
        </div>
    </form>



</div>
</html>