<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:600px;">

    <div class="my-3 border-bottom">
        <h4>상품 등록 > 옵션 생성</h4>
    </div>

    <div>
        <div style="display:flex; justify-content:space-between;">
            <div style="color:gray; font-size:14px;">시작</div>
            <div style="color:gray; font-size:14px;">상품입력</div>
            <div style="font-weight:bold; font-size:14px;">옵션생성</div>
            <div style="color:gray; font-size:14px;">상세옵션</div>
            <div style="color:gray; font-size:14px;">완료</div>
        </div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0"
             aria-valuemax="100">
            <div class="progress-bar w-50"></div>
        </div>
    </div>



    <form th:action="@{|/option/create/${product.id}|}" method="post" th:object="${optionCreateForm}">
        <div style="margin-top:10px;">
            <label for="optionName">옵션</label>
            <input class="form-control" type="text" id="optionName" name="optionName">
        </div>
        <p th:each="err : ${#fields.errors('optionName')}" th:text="${err}" style="color:red; font-size:14px;"></p>

        <div style="color:red; font-size:14px;">
            소비자가 선택할 옵션을 생성해주세요.
            <br>
            ex) 색상, 사이즈, 재질 등등
        </div>
        <div style="display:flex; justify-content:flex-end; margin-top:20px;">
            <button type="submit" class="btn btn-secondary btn-sm" style="margin-left:10px;">옵션생성</button>
        </div>
    </form>

    <div th:if="${product.optionList != null}">
        <div th:each="optionList : ${product.optionList}" th:text="|옵션 : ${optionList.name}|"></div>
    </div>


    <div style="display:flex; justify-content:flex-end; margin-top:20px;">
        <a class="btn btn-danger btn-sm" th:href="@{|/product/remove/${product.id}|}">등록취소</a>
        <a th:href="@{|/option_detail/create/${product.id}|}" class="btn btn-primary btn-sm" style="margin-left:10px;">다음단계</a>
    </div>


</div>
</html>