<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:1000px;">

    <div class="my-3 border-bottom">
        <h4>상품 상세</h4>
    </div>

    <div style="display:flex; justify-content:space-between;">
        <div class="card" style="width: 500px; height:500px;">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img th:src="${product.representImg.FilePath}" alt="대표이미지"
                             style="width:500px; height:500px; object-fit:cover;">
                    </div>
                    <div class="carousel-item" th:if="${product.imageList != null}"
                         th:each="imgList : ${product.imageList}">
                        <img th:src="${imgList.FilePath}" alt="상세이미지"
                             style="width:500px; height:500px; object-fit:cover;">
                    </div>
                </div>
                <div th:if="${product.imageList != null}">
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" style="background-color:black;"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" style="background-color:black;"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div style="width:400px;">
            <table class="table table-sm">
                <tbody>
                <tr style="">
                    <th scope="row" style="width:100px;">카테고리</th>
                    <td th:text="${product.category.name}" style=""></td>
                </tr>
                <tr style="">
                    <th scope="row" style="width:100px;">상품명</th>
                    <td th:text="${product.name}" style=""></td>
                </tr>
                <tr style="">
                    <th scope="row" style="width:100px;">상품설명</th>
                    <td th:text="${product.content}" style=""></td>
                </tr>
                <tr style="">
                    <th scope="row" style="width:100px;">가격</th>
                    <td th:text="${product.price}" style=""></td>
                </tr>
                <tr style="">
                    <th scope="row" style="width:100px;">할인</th>
                    <td th:text="${product.discount}" style=""></td>
                </tr>
                <tr style="">
                    <th scope="row" style="width:100px;">판매자</th>
                    <td th:text="${product.user.sellerName}" style=""></td>
                </tr>
                </tbody>
            </table>
            <form th:action="@{|/orders/option/${product.id}|}" method="post" th:object="${ordersCreateForm}">

                <div style="margin-top:10px;" th:each="optionList : ${product.optionList}">
                    <label for="option" style="font-weight:bold;" th:text="${optionList.name}"></label>
                    <select class="form-select" aria-label="Default select example" id="option" name="option">
                        <option selected>[필수] 옵션 선택</option>
                        <option th:each="optionDetail : ${optionList.optionDetailList}" th:text="${optionDetail.detail}" th:value="${optionDetail.detail}"></option>
                    </select>
                </div>
                <p th:each="err : ${#fields.errors('option')}" th:text="${err}" class="error"
                   style="color:red; font-size:14px;"></p>



                <div style="margin-top:10px;">
                    <label for="amount" style="font-weight:bold;">수량입력</label>
                    <input class="form-control" type="text" id="amount" name="amount" th:field="*{amount}">
                </div>
                <p th:each="err : ${#fields.errors('amount')}" th:text="${err}" class="error"
                   style="color:red; font-size:14px;"></p>

                <div style="margin-top:20px; display:flex; justify-content:flex-end;">
                    <button class="btn btn-primary btn-sm" type="submit" th:text="옵션선택"></button>
                </div>
            </form>

            <div style="margin-top:10px; height:200px; overflow:scroll;">
                <span style="font-weight:bold;">선택한 옵션</span>
                <hr>
                <div th:each="orders : ${product.ordersList}">
                    <div style="display:flex; justify-content:space-between;">
                        <span th:text="|선택옵션 : ${orders.option}|"></span>
                        <span>
                            <a class="btn btn-danger btn-sm" th:href="@{|/orders/remove/${orders.id}|}">X</a>
                        </span>
                    </div>
                    <div th:text="|수량 : ${orders.amount}|"></div>
                    <hr>
                </div>
            </div>


            <div style="margin-top:20px; margin-bottom:20px; text-align:center;">
                <a th:href="@{|/cart/add/${product.id}|}" style="text-decoration:none; color:inherit; font-size:24px;">
                    <i class="fa-solid fa-cart-arrow-down" style="color: #000000;">
                        <span>장바구니담기</span>
                    </i>
                </a>
                <a th:href="@{#}" style="text-decoration:none; color:inherit; font-size:24px;">
                    <i class="fa-regular fa-star" style="color: #000000;">
                        <span>찜하기</span>
                    </i>
                </a>
            </div>
            <div>
                <a class="btn btn-dark" th:href="@{|/orders/buy/${product.id}|}" th:text="구매하기" style="width:100%; font-size:24px;"></a>
            </div>
        </div>
    </div>

    <!-- 상품후기, 상품문의 탭 -->
    <ul class="nav nav-underline mb-3" id="pills-tab" role="tablist" style="margin-top:50px;">
        <li class="nav-item" role="presentation" style="width:450px;">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                    type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                <h4>상품후기</h4>
            </button>
        </li>
        <li class="nav-item" role="presentation" style="width:450px;">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                    type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                <h4>상품문의</h4>
            </button>
        </li>
    </ul>

    <!-- 상품후기 -->
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
             tabindex="0">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">구입상품</th>
                    <th scope="col">적립포인트</th>
                    <th scope="col">적립날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr style="height:100px;">
                    <th scope="row" style="width:200px; line-height:100px;">상품1</th>
                    <td th:text="${@request.getSiteUser.nickname}" style="line-height:100px;"></td>
                    <td th:text="${@request.getSiteUser.nickname}" style="line-height:100px;"></td>
                </tr>
                <tr style="height:100px;">
                    <th scope="row" style="width:200px; line-height:100px;">상품2</th>
                    <td th:text="${@request.getSiteUser.phoneNumber}" style="line-height:100px;"></td>
                    <td th:text="${@request.getSiteUser.phoneNumber}" style="line-height:100px;"></td>
                </tr>
                <tr style="height:100px;">
                    <th scope="row" style="width:200px; line-height:100px;">상품3</th>
                    <td th:text="${@request.getSiteUser.address}" style="line-height:100px;"></td>
                    <td th:text="${@request.getSiteUser.address}" style="line-height:100px;"></td>
                </tr>
                <tr style="height:100px;">
                    <th scope="row" style="width:200px; line-height:100px;">상품4</th>
                    <td th:text="${@request.getSiteUser.grade}" style="line-height:100px;"></td>
                    <td th:text="${@request.getSiteUser.grade}" style="line-height:100px;"></td>
                </tr>
                <tr style="height:100px;">
                    <th scope="row" style="width:200px; line-height:100px;">상품5</th>
                    <td th:text="${@request.getSiteUser.point}" style="line-height:100px;"></td>
                    <td th:text="${@request.getSiteUser.point}" style="line-height:100px;"></td>
                </tr>
                <tr style="height:100px;">
                    <th scope="row" style="width:200px; line-height:100px;">상품6</th>
                    <td th:text="${#temporals.format(@request.getSiteUser.createDate, 'yyyy-MM-dd')}"
                        style="line-height:100px;"></td>
                    <td th:text="${#temporals.format(@request.getSiteUser.createDate, 'yyyy-MM-dd')}"
                        style="line-height:100px;"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 상품문의 -->
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">구입상품</th>
                    <th scope="col">사용포인트</th>
                    <th scope="col">사용날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr style="height:100px;">
                    <th scope="row" style="width:200px; line-height:100px;">상품1</th>
                    <td th:text="${@request.getSiteUser.nickname}" style="line-height:100px;"></td>
                    <td th:text="${@request.getSiteUser.nickname}" style="line-height:100px;"></td>
                </tr>
                <tr style="height:100px;">
                    <th scope="row" style="width:200px; line-height:100px;">상품2</th>
                    <td th:text="${@request.getSiteUser.phoneNumber}" style="line-height:100px;"></td>
                    <td th:text="${@request.getSiteUser.phoneNumber}" style="line-height:100px;"></td>
                </tr>
                <tr style="height:100px;">
                    <th scope="row" style="width:200px; line-height:100px;">상품3</th>
                    <td th:text="${@request.getSiteUser.address}" style="line-height:100px;"></td>
                    <td th:text="${@request.getSiteUser.address}" style="line-height:100px;"></td>
                </tr>
                <tr style="height:100px;">
                    <th scope="row" style="width:200px; line-height:100px;">상품4</th>
                    <td th:text="${@request.getSiteUser.grade}" style="line-height:100px;"></td>
                    <td th:text="${@request.getSiteUser.grade}" style="line-height:100px;"></td>
                </tr>
                <tr style="height:100px;">
                    <th scope="row" style="width:200px; line-height:100px;">상품5</th>
                    <td th:text="${@request.getSiteUser.point}" style="line-height:100px;"></td>
                    <td th:text="${@request.getSiteUser.point}" style="line-height:100px;"></td>
                </tr>
                <tr style="height:100px;">
                    <th scope="row" style="width:200px; line-height:100px;">상품6</th>
                    <td th:text="${#temporals.format(@request.getSiteUser.createDate, 'yyyy-MM-dd')}"
                        style="line-height:100px;"></td>
                    <td th:text="${#temporals.format(@request.getSiteUser.createDate, 'yyyy-MM-dd')}"
                        style="line-height:100px;"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div>

        <a th:href="@{/product/list}" th:text="상품목록"></a>
    </div>
    <div>
        <a sec:authorize="isAuthenticated()" th:if="${@request.getSiteUser().sellerName == product.user.sellerName}"
           th:href="@{|/product/remove/${product.id}|}" th:text="상품삭제"></a>
    </div>
    <div>
        <a th:href="@{/cart/list}" th:text="장바구니"></a>
    </div>

    <a th:href="@{/}" th:text="메인"></a>

    <!--${@rq.isLogin() == false}-->

</div>
</html>