<h1>상품목록</h1>

<table border=1>
    <thead>
    <tr>
        <th>카테고리</th>
        <th>상품명</th>
        <th>등록일자</th>
        <th>판매자</th>
        <th>가격</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="productList : ${productList}">
        <td th:text="${productList.category}"></td>
        <td>
            <a th:href="@{|/product/detail/${productList.id}|}" th:text="${productList.name}"></a>
        </td>
        <td th:text="${productList.createDate}"></td>
        <td th:text="${productList.sellerName}"></td>
        <td th:text="${productList.price}"></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/}" th:text="메인"></a>