<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:800px;">

    <div class="my-3 border-bottom">
        <h4>리뷰 등록</h4>
    </div>

    <form th:action="@{|/review/create/${product.id}|}" method="post" enctype="multipart/form-data" th:object="${reviewCreateForm}">

        <div style="margin-top:50px;">
            <h5>상품정보</h5>
            <table class="table table-sm">
                <tbody>
                <tr style="">
                    <td>
                        <div style="display:flex; justify-content:space-between;">
                            <img th:src="${product.representImg.FilePath}" alt="상품이미지" style="width:200px; height:200px;">
                        </div>
                    </td>
                    <td>
                        <div>
                            <div>상품 :
                                <a th:href="@{|/product/detail/${product.id}|}" th:text="${product.name}"></a>
                            </div>
                            <div th:if="${product.discount == '0'}">
                                <span th:text="|가격 : ${product.price}원|"></span>
                            </div>
                            <div th:if="${product.discount != '0'}">가격 :
                                <del th:text="|${product.price}원|"></del>
                                <span th:text="${#numbers.formatInteger(product.DCPrice, 3, 'COMMA') + '원'}"
                                      style="color:red; font-weight:bold;"></span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div th:each="option : ${product.ordersList}" th:if="${@request.getSiteUser() == option.user}">선택옵션
                            <div th:text="|옵션 : ${option.option}|"></div>
                            <div th:text="|수량 : ${option.amount}|"></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div style="margin-top:10px;">
            <div>별점</div>
            <div class="star-rating">
                <input type="radio" class="star" name="score" th:value="1" th:field="*{score}">
                <input type="radio" class="star" name="score" th:value="2" th:field="*{score}">
                <input type="radio" class="star" name="score" th:value="3" th:field="*{score}">
                <input type="radio" class="star" name="score" th:value="4" th:field="*{score}">
                <input type="radio" class="star" name="score" th:value="5" th:field="*{score}">
            </div>
        </div>
        <p th:each="err : ${#fields.errors('score')}" th:text="${err}" style="color:red; font-size:14px;"></p>


        <div style="margin-top:10px;">
            <label for="reviewImg">사진</label>
            <input class="form-control" type="file" name="reviewImg" id="reviewImg">
        </div>


        <div style="margin-top:10px;">
            <label for="title">제목</label>
            <input class="form-control" type="text" name="title" id="title" th:field="*{title}">
        </div>
        <p th:each="err : ${#fields.errors('title')}" th:text="${err}" style="color:red; font-size:14px;"></p>


        <div style="margin-top:10px;">
            <label for="content">후기</label>
            <textarea class="form-control" name="content" id="content" rows="5" th:field="*{content}"></textarea>
        </div>
        <p th:each="err : ${#fields.errors('content')}" th:text="${err}" style="color:red; font-size:14px;"></p>


        <div style="display:flex; justify-content:flex-end; margin-top:20px;">
            <button type="submit" class="btn btn-primary btn-sm" style="margin-left:10px;">작성하기</button>
        </div>

    </form>


    <style>
        .star-rating {
          display: flex;
        }

        .star {
          appearance: none;
          padding: 1px;
        }

        .star::after {
          content: '☆';
          color: hsl(60, 80%, 45%);
          font-size: 20px;
        }

        .star:hover::after,
        .star:has(~ .star:hover)::after,
        .star:checked::after,
        .star:has(~ .star:checked)::after {
          content: '★';
        }

        .star:hover ~ .star::after {
          content: '☆';
        }
    </style>


</div>
</html>