<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:800px;">

    <div class="my-3 border-bottom">
        <h4>알림</h4>
    </div>


    <div th:if="${alarmList == null}">
        <h5 style="color:red;">알림이 없습니다.</h5>
    </div>

    <table th:if="${alarmList != null}" class="table table-sm">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr style="height:100px; position:relative;" th:each="alarmList : ${alarmList}">
            <td th:text="${alarmList.id}" style="line-height:100px;"></td>
            <td style="line-height:100px;">
                <a th:href="@{|/alarm/detail/${alarmList.id}|}" th:text="${alarmList.title}"></a>
                <span th:if="${!alarmList.isChecked}"
                      class="position-absolute top-20 start-0 translate-middle badge rounded-pill bg-danger"
                      th:text="New">
                    <span class="visually-hidden">unread messages</span>
                </span>
            </td>
            <td th:text="${#temporals.format(alarmList.createDate, 'yyyy-MM-dd')}" style="line-height:100px;"></td>
        </tr>
        </tbody>
    </table>


</div>
</html>