<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:1000px;">

    <div class="my-3 border-bottom">
        <h4>
            <a th:href="@{/user/profile}" style="text-decoration:none; color:inherit;">나의 정보</a>
            > 구매내역
        </h4>
    </div>

    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">구입상품</th>
            <th scope="col">옵션</th>
            <th scope="col">수량</th>
            <th scope="col">결제금액</th>
            <th scope="col">받는사람</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orders : ${user.orderDetailList}">
            <th scope="row" style="width:200px; text-align:center;">
                <img th:src="${orders.product.representImg.FilePath}" alt="상품이미지" style="width:200px; height:200px; object-fit:cover;">
                <a th:href="@{|/product/detail/${orders.product.id}|}" th:text="${orders.product.name}"></a>
            </th>
            <td style="line-height:200px;">
                <div th:each="option : ${orders.option}" style="display:inline-block;">
                    <span th:text = ${option}></span>
                </div>
            </td>
            <td th:text="${orders.amount}" style="line-height:200px;"></td>
            <td th:text="${orders.orderDetail.totalPrice}" style="line-height:200px;"></td>
            <td style="line-height:200px;"></td>
        </tr>
        </tbody>
    </table>
    <div style="margin-top:100px; display:flex; justify-content:flex-end;">
        <a class="btn btn-primary btn-sm" th:href="@{/user/modify}">정보수정</a>
        <a class="btn btn-primary btn-sm" th:href="@{/user/buylist}" style="margin-left:10px;">구매내역</a>
        <a class="btn btn-primary btn-sm" th:href="@{/user/point}" style="margin-left:10px;">포인트내역</a>
        <a class="btn btn-success btn-sm" th:href="@{/user/confirm}" style="margin-left:10px;">판매권한신청</a>
        <a class="btn btn-danger btn-sm" href="#" style="margin-left:10px;">회원탈퇴</a>
    </div>


</div>
</html>