<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:500px;">

    <div class="my-3 border-bottom">
        <h4>로그인</h4>
    </div>

    <form method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">
            <i class="fa-regular fa-user" style="color: #000000;"></i>
        </span>
            <input type="text" class="form-control" placeholder="아이디 입력" aria-describedby="basic-addon1"
                   name="username">
        </div>

        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">
            <i class="fa-solid fa-unlock-keyhole" style="color: #000000;"></i>
        </span>
            <input type="password" class="form-control" placeholder="비밀번호" aria-describedby="basic-addon2"
                   name="password">
        </div>
        <div th:if="${param.error}">
            <p style="color:red; font-size:14px;">아이디 또는 비밀번호가 올바르지 않아요!</p>
        </div>
        <div style="display:flex; justify-content:flex-end;">
            <a th:href="@{/}" class="btn btn-primary btn-sm">ID/PW찾기</a>
            <button type="submit" class="btn btn-primary btn-sm" style="margin-left:10px;">로그인</button>
        </div>
    </form>


</div>
</html>