<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:800px;">


        <h4>나의 정보</h4>

        <table class="table table-dark table-striped">
            <tbody>
            <tr>
                <th scope="row">이름</th>
                <td>김두환</td>
            </tr>
            <tr>
                <th scope="row">연락처</th>
                <td>010-1234-1234</td>
            </tr>
            <tr>
                <th scope="row">주소</th>
                <td>대전광역시 서구 둔산동</td>
            </tr>
            <tr>
                <th scope="row">가입날짜</th>
                <td th:text="${#temporals.format(@request.getSiteUser.createDate, 'yyyy-MM-dd')}"></td>
            </tr>
            <tr>
                <th scope="row">회원등급</th>
                <td>VIP</td>
            </tr>
            <tr>
                <th scope="row">포인트</th>
                <td>20,000</td>
            </tr>
            </tbody>
        </table>

    <a class="btn btn-primary btn-sm" th:href="@{/user/modify}">정보수정</a>
    <a class="btn btn-primary btn-sm" th:href="@{/user/modify}">구매내역</a>
    <a class="btn btn-primary btn-sm" th:href="@{/user/modify}">포인트관리</a>
    <a class="btn btn-primary btn-sm" th:href="@{/user/modify}">판매권한신청</a>
    <a class="btn btn-danger btn-sm" href="#">회원탈퇴</a>

</div>
</html>