<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:500px;">

<h4>회원가입</h1>

<form th:action="@{/user/signup}" method="post" th:object="${userCreateForm}">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">
            <i class="fa-regular fa-user" style="color: #000000;"></i>
        </span>
        <input type="text" class="form-control" placeholder="아이디 입력" aria-describedby="basic-addon1" name="username">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">
            <i class="fa-solid fa-unlock-keyhole" style="color: #000000;"></i>
        </span>
        <input type="password" class="form-control" placeholder="비밀번호" aria-describedby="basic-addon2" name="password1">
    </div>
    <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="비밀번호 확인" aria-describedby="basic-addon3" name="password2">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">
            <i class="fa-regular fa-face-smile" style="color: #000000;"></i>
        </span>
        <input type="text" class="form-control" placeholder="닉네임" aria-describedby="basic-addon3" name="nickname">
    </div>
    <div class="input-group mb-3">
        <div>
            <div class="form-check form-check-inline">
                <i class="fa-solid fa-mars" style="color: #000000;"></i>
                <input class="form-check-input" type="radio" name="sex" id="inlineRadio1" value="남">
                <label class="form-check-label" for="inlineRadio1">남</label>
            </div>
            <div class="form-check form-check-inline">
                <i class="fa-solid fa-venus" style="color: #000000;"></i>
                <input class="form-check-input" type="radio" name="sex" id="inlineRadio2" value="여">
                <label class="form-check-label" for="inlineRadio2">여</label>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon4">
            <i class="fa-solid fa-person" style="color: #000000;"></i>
        </span>
        <input type="text" class="form-control" placeholder="나이" aria-describedby="basic-addon4" name="age">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon5">
            <i class="fa-solid fa-envelope-open-text" style="color: #000000;"></i>
        </span>
        <input type="text" class="form-control" placeholder="이메일" aria-describedby="basic-addon5" name="age">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon6">
            <i class="fa-solid fa-phone" style="color: #000000;"></i>
        </span>
        <input type="text" class="form-control" placeholder="전화번호" aria-describedby="basic-addon6" name="phoneNumber">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon7">
            <i class="fa-solid fa-map-location-dot" style="color: #000000;"></i>
        </span>
        <input type="text" class="form-control" placeholder="주소" aria-describedby="basic-addon7" name="address">
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-sm">회원가입</button>
    </div>
</form>

</div>
</html>