<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:1200px;">

    <div class="my-3 border-bottom">
        <h4>장바구니</h4>
    </div>

    <form th:action="@{/cart/remove}" method="post">
        <table class="table table-sm">
            <thead>
            <tr>
                <th></th>
                <th>카테고리</th>
                <th>상품명</th>
                <th>상품이미지</th>
                <th>선택옵션, 수량</th>
                <th>상품가격</th>
                <th>판매자</th>
                <th>등록일자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartList : ${cartList}">
                <td style="line-height:200px;">
                    <input type="checkbox" name="cartId" th:value="${cartList.id}">
                </td>
                <td th:text="${cartList.product.category.name}" style="line-height:200px;"></td>
                <td>
                    <a th:href="@{|/product/detail/${cartList.product.id}|}" th:text="${cartList.product.name}" style="line-height:200px;"></a>
                </td>
                <td>
                    <img th:src="${cartList.product.representImg.FilePath}" alt="상품이미지" style="width:200px; height:200px; object-fit:cover;">
                </td>
                <td>
                    <span th:each="options : ${cartList.product.ordersList}" th:if="${@request.getSiteUser() == options.user}"
                          th:text="|${options.option} , ${options.amount}|" style="line-height:200px;"></span>
                </td>
                <td th:text="${cartList.product.price}" style="line-height:200px;"></td>
                <td th:text="${cartList.product.user.sellerName}" style="line-height:200px;"></td>
                <td th:text="${#temporals.format(cartList.createDate, 'yyyy-MM-dd')}" style="line-height:200px;"></td>
            </tr>
            </tbody>
        </table>
        <div style="margin-top:100px; display:flex; justify-content:flex-end;">
            <a class="btn btn-primary btn-sm" th:href="@{/}">주문하기</a>
            <button type="submit" class="btn btn-danger btn-sm" style="margin-left:10px;">삭제</button>
        </div>
    </form>


</div>
</html>